<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adres Defteri - Kişi Düzenle</title>
</head>
<body>
    <h1>Kişi Düzenle</h1>
    <form method="post">
        <input type="hidden" name="kisi_id" value="{{ kisi[0] }}">
        <p>
            <label for="ad">Ad:</label>
            <input type="text" id="ad" name="ad" value="{{ kisi[1] }}" required>
        </p>
        <p>
            <label for="soyad">Soyad:</label>
            <input type="text" id="soyad" name="soyad" value="{{ kisi[2] }}" required>
        </p>
        <p>
            <label for="eposta">E-posta:</label>
            <input type="email" id="eposta" name="eposta" value="{{ kisi[3] }}" required>
        </p>
        <p>
            <button type="submit">Kaydet</button>
        </p>
    </form>
</body>
</html>


