<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adres Defteri - Yeni Kişi Ekle</title>
</head>
<body>
    <h1>Yeni Kişi Ekle</h1>
    <form method="post">
        <p>
            <label for="ad">Ad:</label>
            <input type="text" id="ad" name="ad" required>
        </p>
        <p>
            <label for="soyad">Soyad:</label>
            <input type="text" id="soyad" name="soyad" required>
        </p>
        <p>
            <label for="eposta">E-posta:</label>
            <input type="email" id="eposta" name="eposta" required>
        </p>
        <p>
            <button type="submit">Kaydet</button>
        </p>
    </form>
</body>
</html>